body {
    font-family: 'Arial Light', sans-serif;
    padding: 0 10%;
}

h1 {
    font-size: 6vh;
    font-weight: lighter;
    text-align: center;
    margin: 0;
    margin-top: 0.67em;
}

h2 {
    color: #D3A54F;
    font-size: 4vh;
    font-weight: normal;
    text-align: center;
}

hr {
    background-color: #CCC;
    border: none;
    height: 1px;
}

h1 {
    font-size: 3em;
}

h2 {
    font-size: 2em;
}

p {
    color: #666666;
    font-size: 1.25em;
    font-weight: lighter;
    letter-spacing: 0;
    line-height: 2;
    margin: 0;
}

ul {
    color: #666666;
}

.black-text {
    color: black;
    font-weight: normal;
}

.bold {
    color: #666666;
    font-weight: bold;
}

.centred {
    text-align: center;
}

.columned {
    display: flex;
}

.half-card {
    flex: 1;
    padding: 0 1.5%;
}