.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-logo {
  float: left;
  width: 100px;
  height: 100px;
  margin: 20px;
  border: 1px solid #333; 
}

.main-logo img {
  width: inherit;
  height: inherit;
}

.nav-bar {
  float: right;
  width: 400px;
  height: 50px;
  display: flex;
  margin: 20px;
}

.break {
  clear: both;
}

.body {
  border: 1px solid red;
  min-height: 500px;
  margin: 0 20px;
}

.nav-bar .nav-item {
  width: 80px;
  margin: 0 10px;
  height: 30px;
  border: 1px solid #333;
  text-align: center;
  padding-top: 10px;
}

.nav-bar .nav-item:hover {
  cursor: pointer;
  background: rgb(230,230,230);
}